# Ignorar carpetas de compilación de todos los microservicios
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Ignorar archivos de IntelliJ / Eclipse
**/.idea/
**/*.iml
**/.project
**/.classpath
**/.settings/

# Ignorar archivos de Mac o Windows
**/.DS_Store
**/Thumbs.db